<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button (click)="checkNewVersion()">检查新版本</ion-button>
    <ion-button (click)="installUpdate()">更新</ion-button>
    <ion-button (click)="getCurrentVersion()">检查版本</ion-button>
</ion-content>
